header{
    background-color: azure;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
}
body{
    color: aquamarine;
    background-image: linear-gradient(to right, white, aquamarine);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
footer{
    text-align: center;
}
.imagem{
    text-align: center;
}
.botao{
    border-radius: 15px;
}